<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSNavPanelExpandedSizeForOpenMode</key>
		<string>{800, 448}</string>
		<key>NSOSPLastRootDirectory</key>
		<data>
		Ym9va+wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAxAEA
		AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGRlZWtpbQAADAAAAAEB
		AABBcHBsaWNhdGlvbnMMAAAAAQYAABAAAAAgAAAAMAAAAAgAAAAEAwAA60EAAAAAAAAI
		AAAABAMAAI8eBAAAAAAACAAAAAQDAADKrQkAAAAAAAwAAAABBgAAWAAAAGgAAAB4AAAA
		CAAAAAAEAABBxsZlkV9o2BgAAAABAgAAAgAAAAAAAAAfAgAAAAAAAB8CAAAAAAAAAAAA
		AAEFAAAIAAAABAMAAAEAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwA
		AAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQca81YUAAAAk
		AAAAAQEAADVDNTM3REU5LTEyMTEtNEFGOS05N0VBLTA4QTFCNTJEQUY1RhgAAAABAgAA
		gQAAAAEAAADvEwAAAQAAAO8TAAABAAAAAQAAAAEBAAAvAAAAMAAAAAECAABkbmliAAAA
		AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABzcHBhAgAAAAAAAADwAAAA/v///wEA
		AAAAAAAAEwAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAAABAQAACsAAAAAAAAAEAQAACc
		AAAAAAAAAAIgAACAAQAAAAAAAAUgAADwAAAAAAAAABAgAAAAAQAAAAAAABEgAAA0AQAA
		AAAAABIgAAAUAQAAAAAAABMgAAAkAQAAAAAAACAgAABgAQAAAAAAADAgAADMAAAAAAAA
		AAHAAADUAAAAAAAAABHAAAAgAAAAAAAAABLAAADkAAAAAAAAAAHQAADMAAAAAAAAABDQ
		AAAEAAAAAAAAABfwAAAwAAAAAAAAACLwAACMAQAAAAAAAA==
		</data>
		<key>NSStatusItem Preferred Position Item-0</key>
		<real>224</real>
		<key>NSWindow Frame NSNavPanelAutosaveName</key>
		<string>336 346 800 448 0 0 1470 918 </string>
		<key>NSWindow Frame mainWindow</key>
		<string>510 604 451 218 0 0 1470 918 </string>
		<key>SUHasLaunchedBefore</key>
		<true/>
		<key>rules</key>
		<array>
			<dict>
				<key>bundleIdentifier</key>
				<string>com.openai.chat</string>
				<key>bundlePath</key>
				<string>/Users/deekim/Applications/ChatGPT.app</string>
				<key>inactiveHideInterval</key>
				<real>600</real>
				<key>inactiveQuitInterval</key>
				<real>0.0</real>
				<key>quitIfHiddenInterval</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>bundleIdentifier</key>
				<string>com.unsignedinteger.Deckset-Paddle</string>
				<key>bundlePath</key>
				<string>/Users/deekim/Applications/Deckset.app</string>
				<key>inactiveHideInterval</key>
				<real>600</real>
				<key>inactiveQuitInterval</key>
				<real>0.0</real>
				<key>quitIfHiddenInterval</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>bundleIdentifier</key>
				<string>com.hnc.Discord</string>
				<key>bundlePath</key>
				<string>/Users/deekim/Applications/Discord.app</string>
				<key>inactiveHideInterval</key>
				<real>600</real>
				<key>inactiveQuitInterval</key>
				<real>0.0</real>
				<key>quitIfHiddenInterval</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>bundleIdentifier</key>
				<string>com.google.Chrome</string>
				<key>bundlePath</key>
				<string>/Users/deekim/Applications/Google Chrome.app</string>
				<key>inactiveHideInterval</key>
				<real>600</real>
				<key>inactiveQuitInterval</key>
				<real>0.0</real>
				<key>quitIfHiddenInterval</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>bundleIdentifier</key>
				<string>com.insomnia.app</string>
				<key>bundlePath</key>
				<string>/Users/deekim/Applications/Insomnia.app</string>
				<key>inactiveHideInterval</key>
				<real>600</real>
				<key>inactiveQuitInterval</key>
				<real>0.0</real>
				<key>quitIfHiddenInterval</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>bundleIdentifier</key>
				<string>md.obsidian</string>
				<key>bundlePath</key>
				<string>/Users/deekim/Applications/Obsidian.app</string>
				<key>inactiveHideInterval</key>
				<real>600</real>
				<key>inactiveQuitInterval</key>
				<real>0.0</real>
				<key>quitIfHiddenInterval</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>bundleIdentifier</key>
				<string>com.jetbrains.pycharm.ce</string>
				<key>bundlePath</key>
				<string>/Users/deekim/Applications/PyCharm CE.app</string>
				<key>inactiveHideInterval</key>
				<real>600</real>
				<key>inactiveQuitInterval</key>
				<real>0.0</real>
				<key>quitIfHiddenInterval</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>bundleIdentifier</key>
				<string>com.marcoarment.quitter</string>
				<key>bundlePath</key>
				<string>/Users/deekim/Applications/Quitter.app</string>
				<key>inactiveHideInterval</key>
				<real>600</real>
				<key>inactiveQuitInterval</key>
				<real>0.0</real>
				<key>quitIfHiddenInterval</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>bundleIdentifier</key>
				<string>io.raindrop.macapp</string>
				<key>bundlePath</key>
				<string>/Users/deekim/Applications/Raindrop.io.app</string>
				<key>inactiveHideInterval</key>
				<real>600</real>
				<key>inactiveQuitInterval</key>
				<real>0.0</real>
				<key>quitIfHiddenInterval</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>bundleIdentifier</key>
				<string>com.raycast.macos</string>
				<key>bundlePath</key>
				<string>/Users/deekim/Applications/Raycast.app</string>
				<key>inactiveHideInterval</key>
				<real>600</real>
				<key>inactiveQuitInterval</key>
				<real>0.0</real>
				<key>quitIfHiddenInterval</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>bundleIdentifier</key>
				<string>com.tinyspeck.slackmacgap</string>
				<key>bundlePath</key>
				<string>/Users/deekim/Applications/Slack.app</string>
				<key>inactiveHideInterval</key>
				<real>600</real>
				<key>inactiveQuitInterval</key>
				<real>0.0</real>
				<key>quitIfHiddenInterval</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>bundleIdentifier</key>
				<string>com.sublimemerge</string>
				<key>bundlePath</key>
				<string>/Users/deekim/Applications/Sublime Merge.app</string>
				<key>inactiveHideInterval</key>
				<real>600</real>
				<key>inactiveQuitInterval</key>
				<real>0.0</real>
				<key>quitIfHiddenInterval</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>bundleIdentifier</key>
				<string>com.sublimetext.4</string>
				<key>bundlePath</key>
				<string>/Users/deekim/Applications/Sublime Text.app</string>
				<key>inactiveHideInterval</key>
				<real>600</real>
				<key>inactiveQuitInterval</key>
				<real>0.0</real>
				<key>quitIfHiddenInterval</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>bundleIdentifier</key>
				<string>com.TickTick.task.mac</string>
				<key>bundlePath</key>
				<string>/Users/deekim/Applications/TickTick.app</string>
				<key>inactiveHideInterval</key>
				<real>600</real>
				<key>inactiveQuitInterval</key>
				<real>0.0</real>
				<key>quitIfHiddenInterval</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>bundleIdentifier</key>
				<string>com.microsoft.VSCode</string>
				<key>bundlePath</key>
				<string>/Users/deekim/Applications/Visual Studio Code.app</string>
				<key>inactiveHideInterval</key>
				<real>600</real>
				<key>inactiveQuitInterval</key>
				<real>0.0</real>
				<key>quitIfHiddenInterval</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>bundleIdentifier</key>
				<string>dev.warp.Warp-Stable</string>
				<key>bundlePath</key>
				<string>/Users/deekim/Applications/Warp.app</string>
				<key>inactiveHideInterval</key>
				<real>600</real>
				<key>inactiveQuitInterval</key>
				<real>0.0</real>
				<key>quitIfHiddenInterval</key>
				<real>0.0</real>
			</dict>
		</array>
	</dict>
</plist>
